*{
    font-family: sans-serif;
    
}

.btnDown{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333;
    color: white;
    background-color: dodgerblue;
}
.radiogroup{
    margin-top: 10px;
    display: flex;

}

.radiogroup input{
    visibility: hidden;
}
.radio{
    border-radius: 20px;
    padding: 7px;
    color: gray;
    width: max-content;
    box-shadow: 0 0 5px gray;
    
} 
.selected{
    color: white;
    background-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;

} 
.radio:hover{
    box-shadow: 0 0 5px dodgerblue;

}
.radio:last-child{
    margin-left: 5px;
}